# /etc/systemd/system/schema.service
[Unit]
Description=eventzimmer schema and service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes

WorkingDirectory=/usr/local/schema
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml -f docker-compose.prod.yml down

EnvironmentFile=~/.data/pgpassword

[Install]
WantedBy=multi-user.target
